body {
    padding: 0;
}

.container {
    position: relative;
    background-image: url('./img/foto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.container h1{
    position: absolute;
    left: 10%;
    top: 50px;
    font-size: 40px;
    font-style: oblique;
}

.container span {
    position: absolute;
    bottom: -50px;
    border-radius: 50%;
    background: blueviolet;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    animation: animate 4s linear infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: animate 4s linear infinite;
}

.container span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transform: scale(0.25) translate(-70%, -70%);
    background: radial-gradient(#fff, transparent);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-transform: scale(0.25) translate(-70%, -70%);
    -moz-transform: scale(0.25) translate(-70%, -70%);
    -ms-transform: scale(0.25) translate(-70%, -70%);
    -o-transform: scale(0.25) translate(-70%, -70%);
}

@keyframes animate {
    0% {
        transform: translateY(0%);
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }

    100% {
        transform: translateY(-1200%);
        -webkit-transform: translateY(-1200%);
        -moz-transform: translateY(-1200%);
        -ms-transform: translateY(-1200%);
        -o-transform: translateY(-1200%);
    }

}

@media screen and (max-width:370px){
    .container h1{
        position: absolute;
        font-size: 30px;
        left: 30px;
    }
}
